# MTpy Example 01

## Transfer Function Collection

**Goal:** demonstrate how to build a standardized collection of tranfer functions from various file types ("EDI", "EMTFXML").

**Test Data:** Yellowstone, WY, USA 

   - Broadband data provided by University of Washington and Oregon State University processed by Paul Bedrosian (USGS)
   - Earthscope long period data archived at IRIS
   - Long period data from DeGroot-Hedlin archived at IRIS
    

We will build an `MTCollection` using `MTpy v2.0`.  Under the hood `MTCollection` is storing the transfer functions in an MTH5 file and using `mt_metadata` to read the transfer functions into a standardize transfer function.  We will also have a look at how to adjust some metadata so that your transfer functions can be nicely organized.  Each of these data sets were collected as different surveys and we will store them as such.  We will go survey by survey loading in the transfer functions.

In [1]:
from copy import deepcopy
from pathlib import Path

from mtpy import MT, MTCollection

2022-10-18 10:16:22,681 [line 135] mth5.setup_logger - INFO: Logging file can be found C:\Users\jpeacock\OneDrive - DOI\Documents\GitHub\mth5\logs\mth5_debug.log

## Open a new MTCollection

The first thing to do is to open a new `MTCollection` object.  You can call it what you want, for now we will call it `yellowstone_mt_collection`.

In [2]:
mc = MTCollection()
mc.open_collection(
    filename=Path().cwd().parent.parent.joinpath("data", "transfer_functions", "yellowstone_mt_collection_02.h5")
)

2022-10-18 10:16:28,377 [line 672] mth5.mth5.MTH5._initialize_file - INFO: Initialized MTH5 0.2.0 file C:\Users\jpeacock\OneDrive - DOI\Documents\GitHub\iris-mt-course-2022\data\transfer_functions\yellowstone_mt_collection_02.h5 in mode a

## Broadband Data

First we will load in broadband transfer functions which are in EDI format. These files have no `survey.id` type information, therefore we are going to add it.  These files are stored locally on your machine, so just adjust the file path.  We will loop over each file and add in the appropriate metadata

In [3]:
%%time
bb_edi_path = Path().cwd().parent.parent.joinpath("data", "transfer_functions","broadband")
for edi_filename in mc.make_file_list(bb_edi_path, file_types=["edi"]):
    mt_object = MT(edi_filename)
    mt_object.read()

    # update the survey id
    mt_object.survey_metadata.id = "YSBB"
    mc.add_tf(mt_object)

2022-10-18 10:16:32,848 [line 1012] mth5.mth5.MTH5.get_survey - WARNING: /Experiment/Surveys/YSBB does not exist, check survey_list for existing names

Wall time: 1min 3s

### Make sure everything loaded in properly

We want to make sure everything loaded in properly.  `MTCollection` has a convenient property called `dataframe` this will list all transfer functions found in the MTH5 file.  

**Note:** This is a property that when called returns a summary of all transfer functions contained in the MTH5 at the point that it is called.  Therefore, if you update the file by adding a transfer function and then calle `dataframe` you will get an updated summary.  There is more we can do with `dataframe` which we will look at in a later lesson.

In [4]:
mc.dataframe

,station,survey,latitude,longitude,elevation,tf_id,units,has_impedance,has_tipper,has_covariance,period_min,period_max,hdf5_reference,station_hdf5_reference
0,YNP01S,YSBB,44.742639,-111.260583,2017.63,YNP01S,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
1,YNP02S,YSBB,44.916667,-111.015472,2246.02,YNP02S,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
2,YNP03B,YSBB,45.058972,-110.773333,1587.59,YNP03B,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
3,YNP04B,YSBB,44.653278,-111.084722,2037.31,YNP04B,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
4,YNP05S,YSBB,44.696556,-110.967917,2079.35,YNP05S,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
5,YNP06S,YSBB,44.819056,-110.770444,2293.95,YNP06S,none,True,True,False,0.003906,512.006554,<HDF5 object reference>,<HDF5 object reference>
6,YNP07B,YSBB,44.915333,-110.732750,2217.66,YNP07B,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
7,YNP08S,YSBB,44.958361,-110.549583,2076.33,YNP08S,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
8,YNP09S,YSBB,44.356667,-111.305833,1918.18,YNP09S,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
9,YNP10S,YSBB,44.531444,-111.118000,2415.23,YNP10S,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
10,YNP11S,YSBB,44.532444,-110.888000,2315.76,YNP11S,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
11,YNP13B,YSBB,44.703167,-110.744028,2235.97,YNP13B,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
12,YNP14S,YSBB,44.748833,-110.552056,2449.52,YNP14S,none,True,True,False,0.003906,682.687056,<HDF5 object reference>,<HDF5 object reference>
13,YNP15S,YSBB,44.886722,-110.389611,2051.42,YNP15S,none,True,True,False,0.003906,85.331513,<HDF5 object reference>,<HDF5 object reference>
14,YNP16S,YSBB,44.947028,-110.305500,1961.62,YNP16S,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
15,YNP18B,YSBB,44.260361,-111.146528,2189.76,YNP18B,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
16,YNP19B,YSBB,44.372556,-111.113972,2405.13,YNP19B,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
17,YNP20B,YSBB,44.444472,-110.839500,2311.09,YNP20B,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
18,YNP21S,YSBB,44.576056,-110.788389,2240.82,YNP21S,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
19,YNP22S,YSBB,44.663806,-110.530222,2369.38,YNP22S,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
20,YNP23S,YSBB,44.714333,-110.483194,2382.39,YNP23S,none,True,True,False,0.003906,341.331877,<HDF5 object reference>,<HDF5 object reference>
21,YNP24S,YSBB,44.721972,-110.412194,2477.07,YNP24S,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
22,YNP25S,YSBB,44.814861,-110.454417,2544.90,YNP25S,none,True,True,False,0.003906,341.331877,<HDF5 object reference>,<HDF5 object reference>
23,YNP26aB,YSBB,44.894889,-110.229667,2018.79,YNP26aB,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
24,YNP27B,YSBB,44.966583,-110.067556,2201.02,YNP27B,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
25,YNP28S,YSBB,44.147917,-111.049750,1952.63,YNP28S,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
26,YNP29S,YSBB,44.373111,-110.818972,2400.30,YNP29S,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
27,YNP30S,YSBB,44.432333,-110.697944,2388.21,YNP30S,none,True,True,False,0.003906,682.687056,<HDF5 object reference>,<HDF5 object reference>
28,YNP31B,YSBB,44.434722,-110.587778,2381.85,YNP31B,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
29,YNP32S,YSBB,44.526139,-110.457083,2428.17,YNP32S,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
30,YNP33B,YSBB,44.571694,-110.364389,2365.10,YNP33B,none,True,True,False,0.003906,682.687056,<HDF5 object reference>,<HDF5 object reference>
31,YNP34S,YSBB,44.573861,-110.254333,2408.90,YNP34S,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
32,YNP35S,YSBB,44.832556,-110.152333,2086.45,YNP35S,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
33,YNP36S,YSBB,44.133333,-110.820194,2167.74,YNP36S,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
34,YNP37S,YSBB,44.247194,-110.667778,2524.32,YNP37S,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
35,YNP38B,YSBB,44.291194,-110.614556,2400.10,YNP38B,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
36,YNP40B,YSBB,44.505528,-110.215722,2641.26,YNP40B,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
37,YNP43S,YSBB,44.164111,-110.664000,2211.16,YNP43S,none,True,True,False,0.003906,682.687056,<HDF5 object reference>,<HDF5 object reference>
38,YNP44S,YSBB,44.303444,-110.518528,2317.64,YNP44S,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
39,YNP45S,YSBB,44.406333,-110.254194,2358.99,YNP45S,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
40,YNP46S,YSBB,44.474278,-110.138528,2729.91,YNP46S,none,True,True,False,0.003906,341.331877,<HDF5 object reference>,<HDF5 object reference>
41,YNP47B,YSBB,44.488500,-109.946361,2154.66,YNP47B,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
42,YNP50S,YSBB,44.413056,-110.356944,2362.40,YNP50S,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>
43,YNPXLS,YSBB,44.298056,-110.512917,2294.42,YNPXLS,none,True,True,False,0.003906,1024.002621,<HDF5 object reference>,<HDF5 object reference>

## Add Earthscope Data

The data is provided locally, but the data are publicly available on the [IRIS EMTF SPUD](http://www.ds.iris.edu/spud/). Just draw a box around the area of interest and click `download spud bundle`.  This will give you a zip file that contains an EDI, EMTFXML, ZRR file and an image of what the response should look like.  We have copied the EMTFXML files into a single folder for convenience.

In [5]:
%%time

earthscope_path = Path().cwd().parent.parent.joinpath("data", "transfer_functions","earthscope")

for xml_fn in mc.make_file_list(earthscope_path, file_types=["xml"]):
    mt_object = MT(xml_fn)
    mt_object.read()

    # update run id and add new run if needed
    for ii, run_id in enumerate(
        mt_object.station_metadata.transfer_function.runs_processed
    ):
        try:
            mt_object.station_metadata.runs[ii].id = run_id
        except IndexError:
            new_run = deepcopy(mt_object.station_metadata.runs[0])
            new_run.id = run_id
            mt_object.station_metadata.add_run(new_run)
    mc.add_tf(mt_object)

2022-10-18 10:28:42,924 [line 1012] mth5.mth5.MTH5.get_survey - WARNING: /Experiment/Surveys/Transportable_Array does not exist, check survey_list for existing names
2022-10-18 10:34:43,943 [line 1012] mth5.mth5.MTH5.get_survey - WARNING: /Experiment/Surveys/Yellowstone-Snake_River_Plain does not exist, check survey_list for existing names

Wall time: 7min 26s

## Adding EDI files from SPUD

These data are provided locally as EDI files.  These EDI files are formatted a little differently and have the survey information in it but in a different place than normal, so we will have to do some reformatting.

```
survey_translator = {
    'PROJECT': "id",
    'SURVEY': "geographic_name"
}

tf_translator = {
    'PROCESSEDBY': "processed_by.author",
    'PROCESSINGSOFTWARE': "software.name",
    'REMOTESITE': "remote_references",
    'RUNLIST': "runs_processed",
    'SIGNCONVENTION': 'sign_convention',
}
```

```
dh_line_edi_path = Path(r"c:\Users\jpeacock\OneDrive - DOI\mt\mt_short_course\transfer_functions\degroot_line")

for edi_filename in mc.make_file_list(dh_line_edi_path):
    mt_object = MT(edi_filename)
    mt_object.read()
    
    info_list = mt_object.station_metadata.comments.split("\n")
    info_dict = dict([(line.split("=")[0], line.split("=")[1]) for line in info_list])
    
    # update survey metadata
    for info_key, survey_key in survey_translator.items():
        value = info_dict[info_key]
        mt_object.survey_metadata.set_attr_from_name(survey_key, value)
    
    # update transfer function metadata    
    for info_key, tf_key in tf_translator.items():
        value = info_dict[info_key]
        mt_object.station_metadata.transfer_function.set_attr_from_name(tf_key, value)
    
    # update run id and add new run if needed
    for ii, run_id in enumerate(info_dict["RUNLIST"].split()):
        try:
            mt_object.station_metadata.runs[ii].id = run_id
        except IndexError:
            new_run = deepcopy(mt_object.station_metadata.runs[0])
            new_run.id = run_id
            mt_object.station_metadata.add_run(new_run)
        
    mc.add_tf(mt_object)
    
```

### Check MT Collection

Now check to make sure that the data has been loaded in. First, have a look at the different survey names added.

In [6]:
mc.dataframe.survey.unique()

array(['Transportable_Array', 'YSBB', 'Yellowstone-Snake_River_Plain'],
      dtype=object)

In [7]:
mc.dataframe[mc.dataframe.survey == "Transportable_Array"]

,station,survey,latitude,longitude,elevation,tf_id,units,has_impedance,has_tipper,has_covariance,period_min,period_max,hdf5_reference,station_hdf5_reference
0,IDD11,Transportable_Array,47.043986,-116.345982,850.750,IDD11,none,True,True,True,7.31429,18724.57,<HDF5 object reference>,<HDF5 object reference>
1,IDD12,Transportable_Array,47.047800,-115.348000,1137.862,IDD12,none,True,True,True,7.31429,18724.57,<HDF5 object reference>,<HDF5 object reference>
2,IDE11,Transportable_Array,46.353000,-116.212965,882.625,IDE11,none,True,True,True,7.31429,18724.57,<HDF5 object reference>,<HDF5 object reference>
3,IDE12,Transportable_Array,46.387100,-115.582000,1633.900,IDE12,none,True,True,True,7.31429,18724.57,<HDF5 object reference>,<HDF5 object reference>
4,IDF11,Transportable_Array,45.889496,-116.157113,1175.550,IDF11,none,True,True,True,7.31429,18724.57,<HDF5 object reference>,<HDF5 object reference>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,WYM20,Transportable_Array,41.478503,-108.203154,2161.375,WYM20,none,True,True,True,7.31429,18724.57,<HDF5 object reference>,<HDF5 object reference>
136,WYM21,Transportable_Array,41.442741,-107.419635,2247.600,WYM21,none,True,True,True,7.31429,18724.57,<HDF5 object reference>,<HDF5 object reference>
137,WYYS1,Transportable_Array,44.718500,-110.638000,2423.450,WYYS1,none,True,True,True,7.31429,18724.57,<HDF5 object reference>,<HDF5 object reference>
138,WYYS2,Transportable_Array,44.396350,-110.577000,2399.188,WYYS2,none,True,True,True,7.31429,18724.57,<HDF5 object reference>,<HDF5 object reference>
139,WYYS3,Transportable_Array,44.560700,-110.315000,2387.725,WYYS3,none,True,True,True,7.31429,18724.57,<HDF5 object reference>,<HDF5 object reference>

## Close MT Collection

Be sure to close the collection so we can use it later.  If there are open instances of the file bad things can happen.

In [8]:
mc.close_collection()

2022-10-18 10:36:38,197 [line 753] mth5.mth5.MTH5.close_mth5 - INFO: Flushing and closing C:\Users\jpeacock\OneDrive - DOI\Documents\GitHub\iris-mt-course-2022\data\transfer_functions\yellowstone_mt_collection_02.h5

## Next Example

In the next we will have a look at the various plotting functions `MTCollection` has and how to use them.